@import '_mixins';

.captions {
	position: absolute;
	bottom: 4rem;
	left: 0;
	right: 0;
	font-size: 1.75rem;
	display: inline-block;
	filter: drop-shadow(0.5rem 0.5rem 0.2rem rgb(0 0 0 / 0.2));
	transition: transform cubic-bezier(0.645, 0.045, 0.355, 1) 500ms;
	transform: translateY(0);

	&.paused {
		transform: translateY(200px);
	}

	p {
		background: var(--text-color);
		color: var(--background-color);
		max-width: 500px;

		text-align: center;
		padding: 0.25rem 0.75rem 0.5rem;
		margin: auto;
	}

	@include breakpoint-lt('md') {
		font-size: 1.125rem;
		bottom: 4.5rem;

		p {
			max-width: 90%;
		}

		&.paused {
			transform: translateY(140px);
		}
	}
}
