@import '_mixins';

.paper-content {
	position: absolute;
	box-sizing: border-box;
	font-size: 1.5rem;
	line-height: 1.4rem;
	padding: 1.75rem 2rem 2rem;
	color: #111;

	h1 {
		font-size: 3em;
		margin-bottom: 0.25em;
		margin-right: 3.5rem;
		font-weight: 800;
	}

	a,
	b,
	strong {
		color: #111;
	}

	@include breakpoint-lt('md') {
		font-size: 2.1rem;

		h1 {
			font-size: 2.1em;
		}
	}
}

.button-container {
	font-size: 1.5rem;
	position: absolute !important;
	top: 0.75em;
	right: 0.75em;
	height: 2.5em;
	width: 2.5em;

	// On some iPhones the header and close button is rendered to low
	// With the exception you can at least click the close button...
	.close-button {
		@include breakpoint-lt('md') {
			padding-bottom: 16em !important;
		}
	}
}

@include breakpoint-lt('md') {
	.button-container {
		font-size: 2.1rem;
		position: absolute !important;
		top: 0.5em;
		right: 0.5em;
		height: 2em;
		width: 2em;
	}
}

p {
	margin: 0;
}

p + p {
	margin-top: 1em;
}
