@charset "utf-8";

@use 'styles/reset';
@use 'styles/paper-content';
@use 'styles/about';
@use 'styles/captions';

@import 'styles/_mixins';

@font-face {
	font-family: 'Haben Grotesk';
	src: url('/fonts/HabenGrotesk-Regular.woff2') format('woff2'),
		url('/fonts/HabenGrotesk-Regular.woff') format('woff');
}

:where(:root) {
	display: grid;
	height: 100%;
}

:root {
	--font-family: 'Haben Grotesk';
	--font-size: 16px;
	--text-color: black;
	--background-color: white;
	--z-index-top: 99999999;
}

html,
body {
	margin: 0;
	height: 100vh;
	height: 100dvh;
	overflow: hidden;
	font-family: var(--font-family);
	font-size: var(--font-size);
}

a {
	color: var(--background-color);
}

strong,
b,
em,
i {
	font-weight: normal;
	font-style: normal;
}

.buttons {
	position: fixed;
	z-index: var(--z-index-top);
	top: 1rem;
	bottom: auto;
	right: 1rem;
	width: 7.75rem;
	display: flex;

	
	button {
		transition: transform 0.4s;	
		&.hidden {
			transform: translateY(-1rem) translateY(-100%);
		}
	}

	@include breakpoint-lt('md') {
		top: auto;
		bottom: 1rem;
		width: 5.75rem;

		button {
			&.hidden {
				transform: translateY(1rem) translateY(100%);
			}
		}
	}
}
